<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/5e8de9c0-7a17-4caa-b256-924c4d9c3545/resourcegroups/rg-DadApp-demos/providers/Microsoft.Web/sites/lilDadApp</ResourceId>
    <ResourceGroup>rg-DadApp-demos</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://lildadapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2b633c7c-bdfa-4e4f-b596-6a9078faaba4</ProjectGuid>
    <PublishUrl>https://lildadapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$lilDadApp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>